--
-- PostgreSQL database dump
--

\restrict 9RTVqxYUUmVM97R8OvlRCCkeVaP2enwAH4Rej0tm00pVkpz65SsyMB0Q6fSA1Be

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _RoomHashtags; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public."_RoomHashtags" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_RoomHashtags" OWNER TO sahil;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO sahil;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.activities (
    id text NOT NULL,
    "userId" text NOT NULL,
    "roomId" text NOT NULL,
    "actionType" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.activities OWNER TO sahil;

--
-- Name: activity_feed_items; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.activity_feed_items (
    id text NOT NULL,
    type text NOT NULL,
    "userId" text NOT NULL,
    "communityId" text,
    "roomId" text,
    metadata text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.activity_feed_items OWNER TO sahil;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.activity_logs (
    id text NOT NULL,
    action text NOT NULL,
    details text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.activity_logs OWNER TO sahil;

--
-- Name: appeals; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.appeals (
    id text NOT NULL,
    reason text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    resolution text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL,
    "actionId" text NOT NULL,
    "resolvedById" text
);


ALTER TABLE public.appeals OWNER TO sahil;

--
-- Name: articles; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.articles (
    id text NOT NULL,
    title text NOT NULL,
    url text NOT NULL,
    normalized_url text NOT NULL,
    source text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.articles OWNER TO sahil;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    action text NOT NULL,
    "targetId" text,
    "targetType" text,
    details text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actorId" text NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO sahil;

--
-- Name: blocks; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.blocks (
    id text NOT NULL,
    "userId" text NOT NULL,
    "blockedId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.blocks OWNER TO sahil;

--
-- Name: communities; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.communities (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "imageUrl" text,
    category text DEFAULT 'General'::text NOT NULL,
    banner text,
    archived boolean DEFAULT false NOT NULL,
    deleted boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdById" text
);


ALTER TABLE public.communities OWNER TO sahil;

--
-- Name: community_members; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.community_members (
    id text NOT NULL,
    "userId" text NOT NULL,
    "communityId" text NOT NULL,
    role text DEFAULT 'MEMBER'::text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    nickname text,
    muted boolean DEFAULT false NOT NULL,
    "mutedUntil" timestamp(3) without time zone,
    banned boolean DEFAULT false NOT NULL,
    "banReason" text
);


ALTER TABLE public.community_members OWNER TO sahil;

--
-- Name: friendships; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.friendships (
    id text NOT NULL,
    "userId" text NOT NULL,
    "friendId" text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.friendships OWNER TO sahil;

--
-- Name: hashtags; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.hashtags (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.hashtags OWNER TO sahil;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.messages (
    id text NOT NULL,
    content text NOT NULL,
    edited boolean DEFAULT false NOT NULL,
    deleted boolean DEFAULT false NOT NULL,
    "clientMessageId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL,
    "roomId" text NOT NULL,
    "parentId" text
);


ALTER TABLE public.messages OWNER TO sahil;

--
-- Name: moderation_actions; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.moderation_actions (
    id text NOT NULL,
    type text NOT NULL,
    reason text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text NOT NULL,
    "actorId" text NOT NULL,
    "communityId" text,
    "roomId" text
);


ALTER TABLE public.moderation_actions OWNER TO sahil;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    read boolean DEFAULT false NOT NULL,
    "roomId" text,
    "referenceId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text NOT NULL,
    "triggerId" text,
    status text DEFAULT 'pending'::text
);


ALTER TABLE public.notifications OWNER TO sahil;

--
-- Name: oauth_accounts; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.oauth_accounts (
    id text NOT NULL,
    provider text NOT NULL,
    "providerUserId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.oauth_accounts OWNER TO sahil;

--
-- Name: reactions; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.reactions (
    id text NOT NULL,
    emoji text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text NOT NULL,
    "messageId" text NOT NULL
);


ALTER TABLE public.reactions OWNER TO sahil;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.reports (
    id text NOT NULL,
    reason text NOT NULL,
    description text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    severity text DEFAULT 'medium'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "reporterId" text NOT NULL,
    "reportedUserId" text,
    "messageId" text,
    "roomId" text,
    "assignedId" text,
    "resolvedById" text,
    "resolutionReason" text,
    "resolvedAt" timestamp(3) without time zone,
    "reportedCommunityId" text
);


ALTER TABLE public.reports OWNER TO sahil;

--
-- Name: reputation_logs; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.reputation_logs (
    id text NOT NULL,
    "userId" text NOT NULL,
    change integer NOT NULL,
    reason text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.reputation_logs OWNER TO sahil;

--
-- Name: room_members; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.room_members (
    id text NOT NULL,
    "userId" text NOT NULL,
    "roomId" text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'joined'::text NOT NULL
);


ALTER TABLE public.room_members OWNER TO sahil;

--
-- Name: rooms; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.rooms (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    category text NOT NULL,
    tags text[] DEFAULT ARRAY[]::text[],
    "imageUrl" text,
    "sourceUrl" text,
    trending boolean DEFAULT false NOT NULL,
    "isNew" boolean DEFAULT true NOT NULL,
    archived boolean DEFAULT false NOT NULL,
    deleted boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "communityId" text,
    "articleId" text,
    "createdById" text,
    "isPrivate" boolean DEFAULT false NOT NULL,
    "pendingNameRequest" text
);


ALTER TABLE public.rooms OWNER TO sahil;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.sessions (
    id text NOT NULL,
    token text NOT NULL,
    "deviceInfo" text,
    "ipAddress" text,
    revoked boolean DEFAULT false NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.sessions OWNER TO sahil;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.system_settings (
    key text NOT NULL,
    value text NOT NULL
);


ALTER TABLE public.system_settings OWNER TO sahil;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sahil
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    name text,
    avatar text,
    bio text,
    role text DEFAULT 'MEMBER'::text NOT NULL,
    status text DEFAULT 'offline'::text NOT NULL,
    verified boolean DEFAULT false NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "verificationToken" text,
    "verificationTokenExpires" timestamp(3) without time zone,
    "passwordResetToken" text,
    "passwordResetTokenExpires" timestamp(3) without time zone,
    "failedLoginAttempts" integer DEFAULT 0 NOT NULL,
    "lockoutUntil" timestamp(3) without time zone,
    badges text[] DEFAULT ARRAY[]::text[],
    reputation integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastSeen" timestamp(3) without time zone,
    banner text DEFAULT 'from-red-600 via-red-500 to-red-800'::text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "isPaused" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO sahil;

--
-- Data for Name: _RoomHashtags; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.activities (id, "userId", "roomId", "actionType", "createdAt") FROM stdin;
\.


--
-- Data for Name: activity_feed_items; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: appeals; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.appeals (id, reason, status, resolution, "createdAt", "updatedAt", "userId", "actionId", "resolvedById") FROM stdin;
\.


--
-- Data for Name: articles; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.articles (id, title, url, normalized_url, source, "createdAt") FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.audit_logs (id, action, "targetId", "targetType", details, "createdAt", "actorId") FROM stdin;
\.


--
-- Data for Name: blocks; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.blocks (id, "userId", "blockedId", "createdAt") FROM stdin;
\.


--
-- Data for Name: communities; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.communities (id, name, description, "imageUrl", category, banner, archived, deleted, "createdAt", "updatedAt", "createdById") FROM stdin;
\.


--
-- Data for Name: community_members; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.community_members (id, "userId", "communityId", role, "joinedAt", nickname, muted, "mutedUntil", banned, "banReason") FROM stdin;
\.


--
-- Data for Name: friendships; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: hashtags; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: moderation_actions; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.moderation_actions (id, type, reason, active, "expiresAt", "createdAt", "userId", "actorId", "communityId", "roomId") FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: oauth_accounts; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.oauth_accounts (id, provider, "providerUserId", "createdAt", "userId") FROM stdin;
\.


--
-- Data for Name: reactions; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.reports (id, reason, description, status, severity, "createdAt", "updatedAt", "reporterId", "reportedUserId", "messageId", "roomId", "assignedId", "resolvedById", "resolutionReason", "resolvedAt", "reportedCommunityId") FROM stdin;
\.


--
-- Data for Name: reputation_logs; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: room_members; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: sahil
--

COPY public.system_settings (key, value) FROM stdin;
maintenance_mode	false
allow_registration	true
enable_websockets	true
rate_limit	300
default_reputation	0
max_friends	100
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sahil
--



--
-- Name: _RoomHashtags _RoomHashtags_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public."_RoomHashtags"
    ADD CONSTRAINT "_RoomHashtags_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (id);


--
-- Name: activity_feed_items activity_feed_items_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activity_feed_items
    ADD CONSTRAINT activity_feed_items_pkey PRIMARY KEY (id);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: appeals appeals_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.appeals
    ADD CONSTRAINT appeals_pkey PRIMARY KEY (id);


--
-- Name: articles articles_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: blocks blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_pkey PRIMARY KEY (id);


--
-- Name: communities communities_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.communities
    ADD CONSTRAINT communities_pkey PRIMARY KEY (id);


--
-- Name: community_members community_members_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT community_members_pkey PRIMARY KEY (id);


--
-- Name: friendships friendships_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT friendships_pkey PRIMARY KEY (id);


--
-- Name: hashtags hashtags_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.hashtags
    ADD CONSTRAINT hashtags_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: moderation_actions moderation_actions_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.moderation_actions
    ADD CONSTRAINT moderation_actions_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: oauth_accounts oauth_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_pkey PRIMARY KEY (id);


--
-- Name: reactions reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: reputation_logs reputation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reputation_logs
    ADD CONSTRAINT reputation_logs_pkey PRIMARY KEY (id);


--
-- Name: room_members room_members_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT room_members_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (key);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: _RoomHashtags_B_index; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "_RoomHashtags_B_index" ON public."_RoomHashtags" USING btree ("B");


--
-- Name: activities_roomId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "activities_roomId_idx" ON public.activities USING btree ("roomId");


--
-- Name: activities_userId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "activities_userId_idx" ON public.activities USING btree ("userId");


--
-- Name: activity_feed_items_communityId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "activity_feed_items_communityId_idx" ON public.activity_feed_items USING btree ("communityId");


--
-- Name: activity_feed_items_roomId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "activity_feed_items_roomId_idx" ON public.activity_feed_items USING btree ("roomId");


--
-- Name: activity_feed_items_userId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "activity_feed_items_userId_idx" ON public.activity_feed_items USING btree ("userId");


--
-- Name: activity_logs_userId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "activity_logs_userId_idx" ON public.activity_logs USING btree ("userId");


--
-- Name: appeals_actionId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "appeals_actionId_idx" ON public.appeals USING btree ("actionId");


--
-- Name: appeals_resolvedById_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "appeals_resolvedById_idx" ON public.appeals USING btree ("resolvedById");


--
-- Name: appeals_userId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "appeals_userId_idx" ON public.appeals USING btree ("userId");


--
-- Name: articles_normalized_url_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX articles_normalized_url_key ON public.articles USING btree (normalized_url);


--
-- Name: articles_url_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX articles_url_key ON public.articles USING btree (url);


--
-- Name: audit_logs_actorId_createdAt_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "audit_logs_actorId_createdAt_idx" ON public.audit_logs USING btree ("actorId", "createdAt");


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt");


--
-- Name: blocks_blockedId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "blocks_blockedId_idx" ON public.blocks USING btree ("blockedId");


--
-- Name: blocks_userId_blockedId_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX "blocks_userId_blockedId_key" ON public.blocks USING btree ("userId", "blockedId");


--
-- Name: communities_createdById_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "communities_createdById_idx" ON public.communities USING btree ("createdById");


--
-- Name: communities_name_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX communities_name_key ON public.communities USING btree (name);


--
-- Name: community_members_communityId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "community_members_communityId_idx" ON public.community_members USING btree ("communityId");


--
-- Name: community_members_userId_communityId_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX "community_members_userId_communityId_key" ON public.community_members USING btree ("userId", "communityId");


--
-- Name: friendships_friendId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "friendships_friendId_idx" ON public.friendships USING btree ("friendId");


--
-- Name: friendships_userId_friendId_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX "friendships_userId_friendId_key" ON public.friendships USING btree ("userId", "friendId");


--
-- Name: hashtags_name_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX hashtags_name_key ON public.hashtags USING btree (name);


--
-- Name: messages_clientMessageId_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX "messages_clientMessageId_key" ON public.messages USING btree ("clientMessageId");


--
-- Name: messages_parentId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "messages_parentId_idx" ON public.messages USING btree ("parentId");


--
-- Name: messages_roomId_createdAt_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "messages_roomId_createdAt_idx" ON public.messages USING btree ("roomId", "createdAt");


--
-- Name: messages_userId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "messages_userId_idx" ON public.messages USING btree ("userId");


--
-- Name: moderation_actions_actorId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "moderation_actions_actorId_idx" ON public.moderation_actions USING btree ("actorId");


--
-- Name: moderation_actions_communityId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "moderation_actions_communityId_idx" ON public.moderation_actions USING btree ("communityId");


--
-- Name: moderation_actions_roomId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "moderation_actions_roomId_idx" ON public.moderation_actions USING btree ("roomId");


--
-- Name: moderation_actions_userId_active_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "moderation_actions_userId_active_idx" ON public.moderation_actions USING btree ("userId", active);


--
-- Name: notifications_triggerId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "notifications_triggerId_idx" ON public.notifications USING btree ("triggerId");


--
-- Name: notifications_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "notifications_userId_createdAt_idx" ON public.notifications USING btree ("userId", "createdAt");


--
-- Name: oauth_accounts_provider_providerUserId_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX "oauth_accounts_provider_providerUserId_key" ON public.oauth_accounts USING btree (provider, "providerUserId");


--
-- Name: oauth_accounts_userId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "oauth_accounts_userId_idx" ON public.oauth_accounts USING btree ("userId");


--
-- Name: reactions_messageId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reactions_messageId_idx" ON public.reactions USING btree ("messageId");


--
-- Name: reactions_userId_messageId_emoji_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX "reactions_userId_messageId_emoji_key" ON public.reactions USING btree ("userId", "messageId", emoji);


--
-- Name: reports_assignedId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reports_assignedId_idx" ON public.reports USING btree ("assignedId");


--
-- Name: reports_messageId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reports_messageId_idx" ON public.reports USING btree ("messageId");


--
-- Name: reports_reportedCommunityId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reports_reportedCommunityId_idx" ON public.reports USING btree ("reportedCommunityId");


--
-- Name: reports_reportedUserId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reports_reportedUserId_idx" ON public.reports USING btree ("reportedUserId");


--
-- Name: reports_reporterId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reports_reporterId_idx" ON public.reports USING btree ("reporterId");


--
-- Name: reports_resolvedById_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reports_resolvedById_idx" ON public.reports USING btree ("resolvedById");


--
-- Name: reports_roomId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reports_roomId_idx" ON public.reports USING btree ("roomId");


--
-- Name: reputation_logs_userId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "reputation_logs_userId_idx" ON public.reputation_logs USING btree ("userId");


--
-- Name: room_members_roomId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "room_members_roomId_idx" ON public.room_members USING btree ("roomId");


--
-- Name: room_members_userId_roomId_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX "room_members_userId_roomId_key" ON public.room_members USING btree ("userId", "roomId");


--
-- Name: rooms_articleId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "rooms_articleId_idx" ON public.rooms USING btree ("articleId");


--
-- Name: rooms_communityId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "rooms_communityId_idx" ON public.rooms USING btree ("communityId");


--
-- Name: rooms_createdById_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "rooms_createdById_idx" ON public.rooms USING btree ("createdById");


--
-- Name: sessions_token_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX sessions_token_key ON public.sessions USING btree (token);


--
-- Name: sessions_userId_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "sessions_userId_idx" ON public.sessions USING btree ("userId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_isDeleted_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX "users_isDeleted_idx" ON public.users USING btree ("isDeleted");


--
-- Name: users_status_idx; Type: INDEX; Schema: public; Owner: sahil
--

CREATE INDEX users_status_idx ON public.users USING btree (status);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: sahil
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: _RoomHashtags _RoomHashtags_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public."_RoomHashtags"
    ADD CONSTRAINT "_RoomHashtags_A_fkey" FOREIGN KEY ("A") REFERENCES public.hashtags(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _RoomHashtags _RoomHashtags_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public."_RoomHashtags"
    ADD CONSTRAINT "_RoomHashtags_B_fkey" FOREIGN KEY ("B") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: activities activities_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT "activities_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: activities activities_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT "activities_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: activity_feed_items activity_feed_items_communityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activity_feed_items
    ADD CONSTRAINT "activity_feed_items_communityId_fkey" FOREIGN KEY ("communityId") REFERENCES public.communities(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: activity_feed_items activity_feed_items_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activity_feed_items
    ADD CONSTRAINT "activity_feed_items_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: activity_feed_items activity_feed_items_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activity_feed_items
    ADD CONSTRAINT "activity_feed_items_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: activity_logs activity_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT "activity_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: appeals appeals_actionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.appeals
    ADD CONSTRAINT "appeals_actionId_fkey" FOREIGN KEY ("actionId") REFERENCES public.moderation_actions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: appeals appeals_resolvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.appeals
    ADD CONSTRAINT "appeals_resolvedById_fkey" FOREIGN KEY ("resolvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: appeals appeals_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.appeals
    ADD CONSTRAINT "appeals_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: blocks blocks_blockedId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT "blocks_blockedId_fkey" FOREIGN KEY ("blockedId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: blocks blocks_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT "blocks_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: communities communities_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.communities
    ADD CONSTRAINT "communities_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: community_members community_members_communityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT "community_members_communityId_fkey" FOREIGN KEY ("communityId") REFERENCES public.communities(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: community_members community_members_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT "community_members_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: friendships friendships_friendId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT "friendships_friendId_fkey" FOREIGN KEY ("friendId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: friendships friendships_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT "friendships_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public.messages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: moderation_actions moderation_actions_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.moderation_actions
    ADD CONSTRAINT "moderation_actions_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: moderation_actions moderation_actions_communityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.moderation_actions
    ADD CONSTRAINT "moderation_actions_communityId_fkey" FOREIGN KEY ("communityId") REFERENCES public.communities(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: moderation_actions moderation_actions_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.moderation_actions
    ADD CONSTRAINT "moderation_actions_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: moderation_actions moderation_actions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.moderation_actions
    ADD CONSTRAINT "moderation_actions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_triggerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_triggerId_fkey" FOREIGN KEY ("triggerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notifications notifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: oauth_accounts oauth_accounts_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT "oauth_accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reactions reactions_messageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT "reactions_messageId_fkey" FOREIGN KEY ("messageId") REFERENCES public.messages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reactions reactions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT "reactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reports reports_assignedId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "reports_assignedId_fkey" FOREIGN KEY ("assignedId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reports reports_messageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "reports_messageId_fkey" FOREIGN KEY ("messageId") REFERENCES public.messages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reports reports_reportedCommunityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "reports_reportedCommunityId_fkey" FOREIGN KEY ("reportedCommunityId") REFERENCES public.communities(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reports reports_reportedUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "reports_reportedUserId_fkey" FOREIGN KEY ("reportedUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reports reports_reporterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "reports_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reports reports_resolvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "reports_resolvedById_fkey" FOREIGN KEY ("resolvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reports reports_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "reports_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reputation_logs reputation_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.reputation_logs
    ADD CONSTRAINT "reputation_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: room_members room_members_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT "room_members_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: room_members room_members_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT "room_members_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rooms rooms_articleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT "rooms_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES public.articles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: rooms rooms_communityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT "rooms_communityId_fkey" FOREIGN KEY ("communityId") REFERENCES public.communities(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rooms rooms_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT "rooms_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sessions sessions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sahil
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 9RTVqxYUUmVM97R8OvlRCCkeVaP2enwAH4Rej0tm00pVkpz65SsyMB0Q6fSA1Be

